# API
NEXT_PUBLIC_API_URL=https://api.arcane.tachyon.pe

# Wallet Connect
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Contract Addresses
NEXT_PUBLIC_UNIFIED_VAULT_ETHEREUM_SEPOLIA=0xe9167Bf4aB30E4BA79ee901f89281261B0021e4C
NEXT_PUBLIC_UNIFIED_VAULT_BASE_SEPOLIA=0x45789e1C1c3c7bE6950355dbCAaBB5647e1bc8f2
NEXT_PUBLIC_UNIFIED_VAULT_ARC=
NEXT_PUBLIC_UNIFIED_VAULT_RARI=0xDB61eA01ba56A604f8E44d61576D2506e016Fc90

# TEE Wallet Address (on Base Sepolia - where trading happens)
NEXT_PUBLIC_TEE_WALLET_ADDRESS=0x278258D222028BDbC165684923443FE10BFD4b95

# Mock USDC (Rari)
NEXT_PUBLIC_MOCK_USDC_RARI=0xec690C24B7451B85B6167a06292e49B5DA822fBE
